{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<head>
	<title>{% block title %}CivicConnect{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'home' %}">CivicConnect</a>
		<div class="collapse navbar-collapse" id="">
			<a class="nav-link" href="{% url 'send' %}">{{ 'Contact Representatives' }}</a>
			<a class="nav-link" href="{% url 'createTemp' %}">{{ 'Create A Template' }}</a>
		</div>
		
		{% if user.is_authenticated %}
			<header>Signed in as</header>
			<a class="nav-link" href="{% url 'user:userindex' %}">{{ user.email }}</a>
		{% else %}
			<header>Not signed in</header>
			<a class="nav-link" href="{% url 'gauth' %}">Sign in</a>
		{% endif %}
	</nav>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

	<div class="navbar fixed-bottom justify-content-center text-dark">
		<p> NutBux:
			<a class="text-dark" href="mailto:pcb8gb@virginia.edu">Penn Bauman</a>,
			<a class="text-dark" href="mailto:bjk3yf@virginia.edu">Bryan Kim</a>,
			<a class="text-dark" href="mailto:crm6zg@virginia.edu">Cameron Mukerjee</a>, &amp;
			<a class="text-dark" href="mailto:awz6ay@virginia.edu">Andrew Zhao</a>
		</p>
	</div>
</body>
