{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<head>
	<title>{% block title %}CivicConnect{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand text-white" href="{% url 'home' %}">CivicConnect</a>
		<div class="collapse navbar-collapse" id="">
			<a class="nav-link text-light" href="{% url 'send' %}">{{ 'Contact Representatives' }}</a>
			<a class="nav-link text-light" href="{% url 'createTemp' %}">{{ 'Create A Template' }}</a>
		</div>

		<div class="ml-auto text-light">
			{% if user.is_authenticated %}
				Signed in as
				<a class="text-white" href="{% url 'user:userindex' %}">{{ user.email }}</a>
			{% else %}
				<a class="text-white" href="{% url 'gauth' %}">Sign in</a>
			{% endif %}
		</div>
	</nav>

	<div class="content container col-md-8 mt-5">
		{% block content %}
		{% endblock %}
	</div>

	<div style="height:5em"></div>

	<div class="navbar fixed-bottom justify-content-center text-light bg-secondary" style="margin-bottom:-1em">
		<p> NutBox:
			<a class="text-light" href="mailto:pcb8gb@virginia.edu">Penn Bauman</a>,
			<a class="text-light" href="mailto:bjk3yf@virginia.edu">Bryan Kim</a>,
			<a class="text-light" href="mailto:crm6zg@virginia.edu">Cameron Mukerjee</a>, &amp;
			<a class="text-light" href="mailto:awz6ay@virginia.edu">Andrew Zhao</a>
		</p>
	</div>
</body>
