{% extends 'civic/base.html' %}

{% block title %}
Create Template - CivicConnect
{% endblock %}

{% block content %}
	<!--{% if user.is_authenticated %}-->
	<div class="row justify-content-center">
		<h1>{{ "Making Your Voice Heard." }}</h1>
	</div>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'creatingTemp' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<div class="row justify-content-center">
			<button type="submit" class="save btn btn-primary">Publish</button>
		</div>
	</form>
	<!--{% else %}
		<a href="{% provider_login_url 'google' %}">Pleae login to make a template.</a>
	{% endif %}-->
{% endblock %}