<!--
*  REFERENCES
*  Title: Bootstrap Forms
*  Author: unknown authors for bootstrap4 documentation
*  Date: unknown
*  Code version: unknown
*  URL: https://getbootstrap.com/docs/4.0/components/forms/
*  Software License: MIT license
*
-->


{% extends 'civic/base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<div class="row justify-content-center mb-3">
	<h1>Hello {{ user.first_name }}</h1>
</div>

<h3 class="mb-3"> Edit Your Profile</h3>
<form method="POST">
 {% csrf_token %}
 {{ user_form.as_p }}
 <!--{{ profile_form.as_p }}-->
 <input type="submit" class="btn btn-primary" value = "Update Profile"></button>
</form>

<h3 class="mb-3 mt-5">Edit Your Address</h3>
<p>
	<b>Current Location: </b>
	{{me.State | upper}}
	District {{me.District}}
</p>
<h5 style="color:#ad1400; font-weight:bold">{{apistatus}}</h5>
<form action="{% url 'profile'%}" method="get">
    <label for="InputAddress">Enter an address to update your State, District, and Representatives!</label>
    <input type="text" class="form-control" id="InputAddress" name="InputAddress" placeholder="Enter address">
    <small id="addressHelp" class="form-text text-muted">We won't save this address</small>
	<input type="submit" class="btn btn-primary" value = "Update address"></button>
</form>

<div class="row justify-content-center mb-3">
	<h2>Your Representatives</h3>
</div>

<div class="row justify-content-center">
	{% for currentrep in allreps %}
		{% comment %}{%if currentrep.state != ''%}{% endcomment %}
		<div class="card" style="width: 40rem; margin-bottom:1em">
			<div class="card-body">
				<h5 class="card-title">{{currentrep.name}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{currentrep.party}}</h6>
				<p class="card-text">{{currentrep.}}
				{%if user.is_authenticated%}
					{%if currentrep.state != ''%}
						{%if currentrep.district != ''%}
							House Representative:
						{%else%}
							Senator:
						{%endif%}
						{{currentrep.state | upper}}
					{%endif%}
					{%if currentrep.district != ''%}
						- {{currentrep.district}}
					{%endif%}
				{%endif%}
				</p>
			</div>
		</div>
		{% comment %}{%endif%}{% endcomment %}
	{% endfor %}
</div>

{% endblock %}
