{% extends 'civic/base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<h2>Need to change something {{ user.first_name }}?</h2>
</div>
<br>
<div class="row justify-content-center">
	<h3> Edit Your Profile</h3>
</div>
<br>
<form method="POST">
 {% csrf_token %}
 {{ user_form.as_p }}
 <!--{{ profile_form.as_p }}-->
 <input type="submit" class="btn btn-primary" value = "Update Profile"></button>
</form>
<h6>{{apistatus}}</h6>
<form action="{% url 'profile'%}" method="get">
    <label for="InputAddress">Enter your address to find/update your State, District, and Representatives!</label>
    <input type="text" class="form-control" id="InputAddress" name="InputAddress" placeholder="Enter address">
    <small id="addressHelp" class="form-text text-muted">We won't save this address</small>
	<input type="submit" class="btn btn-primary" value = "Update address"></button>
</form>
<h6>State: {{me.State}}</h6>
<h6>District: {{me.District}}</h6>

My Representatives

{% for currentrep in allreps %}
	<div class="card" style="width: 40rem; margin-bottom:1em">
		<div class="card-body">
			<h5 class="card-title">{{currentrep.name}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{currentrep.party}}</h6>
			{%if user.is_authenticated%}
				{%if currentrep.state != ''%}
					<p class="card-text">{{currentrep.state}}</p>
				{%endif%}
				{%if currentrep.district != ''%}
					<p class="card-text">{{currentrep.district}}</p>
				{%endif%}
			{%endif%}
			{%comment%}<a href= "{% url 'send' currentrep.email %}" class="card-link">Send an email to this representative</a>{%endcomment%}
		</div>
	</div>
{% endfor %}



{% endblock %}
