{% extends 'civic/base.html' %}

{% block title %}
Contact Representative - CivicConnect
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>{{ "Contact Representative" }}</h1>
	</div>
	
	
	
	
	
	
	
	
	<div class="row justify-content-center">
	
	
	
	<form action="{% url 'send'%}" method="get">
			{% if linkornot == 1 %}
				<br>
				<a href="{% url 'select' %}" class="card-link"><h5>Select template</h5></a>
			{% endif %}
		<br>
			{% if linkornot == 0 %}
			<label for="replist">Choose your representative: </label>
			<select name='repdropdown' id="replist" class="mdb-select md-form">
				<option value='{{chosenrep}}' disabled selected hidden>{{chosenrep}}</option>
					<option value= '' >
						none
					</option>
				{% for rep in reps_all%}
					<option value= '{{rep.email}}' >
						{{ rep.name }}  :  {{ rep.party }}
					</option>
				{% endfor %}
				<input hidden type="text" name="htmlid" value= '{{templateidvar}}'>
			</select>
				
			<input type="submit" value="Select">
			{% endif %}
	</form>
	
	
	
	
	</div>

	<div class="row justify-content-center">
		<h3>Template Preview</h3>
		<textarea class="form-control" id="emailpreview" rows="16" readonly>{{chosentemplate}}</textarea>
		<button class="btn btn-primary mt-4 mr-2" onclick="copy()">Copy text</button>

		{% if generatedlink != '' %}
			<a class="btn btn-primary mt-4 ml-2" role="button" href='{{generatedlink}}'>Send Email</a>
		{% endif %}
	</div>

	<script>
		function copy() {
			var copyText = document.getElementById("emailpreview");
			copyText.select();
			copyText.setSelectionRange(0, 99999)
			document.execCommand("copy");
		}
	</script>
	
	{{temp}}
	
{% endblock %}
