{% extends 'civic/base.html' %}


{% block content %}
	<form action="{% url 'send'%}" method="get">
	<br>View and Select Templates
	<br><br>
	{% for currenttemplate in templates_all%}
	<div class="card" style="width: 40rem;">
	<div class="card-body">
    <h5 class="card-title">{{currenttemplate.title}}</h5>
	<h6 class="card-subtitle mb-2 text-muted">{{currenttemplate.datecreated}}</h6>
    <p class="card-text">{{ currenttemplate.shortDescription }}</p>
	<a href="{% url 'send' currenttemplate.id %}" class="card-link">Preview and use template</a>
	{%if user.is_authenticated%}
		{%if currenttemplate in user.clients.favorites.all%}
			<a href="{% url 'unfavorite' currenttemplate.id %}" class="card-link">Unfavorite</a>
		{%else%}
		<a href="{% url 'makeFav' currenttemplate.id %}" class="card-link">Favorite</a>
	{%endif%}
	{%endif%}
	</div>
	{% endfor %}
	</form>
	<br>

{% endblock %}
