{% extends 'civic/base.html' %}

{% block title %}
Select Templates - CivicConnect
{% endblock %}

{% block content %}
  <form action="{% url 'send'%}" method="get">
    <div class="row justify-content-center">
      <h1>View and Select Templates</h1>
    </div>

    <div class="content container col-md-8 justify-content-center mt-3"><div class="row justify-content-center">
    {% for currenttemplate in templates_all%}
      <div class="card" style="width: 40rem; margin-bottom:2em">
        <div class="card-body">
          <h5 class="card-title">{{currenttemplate.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{currenttemplate.datecreated}}</h6>
          <p class="card-text">{{ currenttemplate.shortDescription }}</p>
          <a href="{% url 'send' currenttemplate.id %}" class="card-link">Preview and use template</a>
          {% if user.is_authenticated %}
            {% if currenttemplate in user.clients.favorites.all %}
              <a href="{% url 'unfavorite' currenttemplate.id %}" class="card-link">Unfavorite</a>
            {% else %}
              <a href="{% url 'makeFav' currenttemplate.id %}" class="card-link">Favorite</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div></div>
  </form>
  <br>

{% endblock %}
