{% extends 'civic/base.html' %}
{% block title %}
userindex
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>Account</h1>
	</div>
	<div class="row justify-content-center mt-3">
		<h4>Hello, {{user.username}}</h4>
	</div>

	<p>
		<a class="nav-link" href="{% url 'profile' %}">
			{{ 'Edit My Profile' }}
		</a>
		<a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			{{ 'My Templates' }}
		</a>
		<a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			{{ 'My Issues' }}
		</a>
		<a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			{{ 'My Representatives' }}
		</a>
		<a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			{{ 'My Emails' }}
		</a>
	</p>
{% endblock %}
